body {
	margin: 0;
}

body * {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	min-height: 100vh;
}

.bg-wrapper {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background: #000 url(images/bg1.jpg) no-repeat left;
	background-size: 140%;
	transition: .3s;
}
@media (max-width: 1400px){
	.bg-wrapper {
		background: #000 url(images/bg2.jpg) no-repeat left;
	}	
}

@media (max-width: 700px){
	.bg-wrapper {
		background: #000 url(images/bg3.jpg) no-repeat left;
	}	
}